.loaderContainer {
  display: flex;
  justify-items: center;
  align-items: center;
  height: 200px;
  gap: 10px;
}

.loader {
  width: 35px;
  height: 35px;
  border: 4px solid #e0e0e0;
  border-top: 4px solid #1a73e8;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}
.loaderText {
  font-size: x-large;
  margin-bottom: 6px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
